<div class="container">
    <div id="grid" class="row g-3">
        <div class="col-lg-6 picture-item">
            <div class="blog blog-primary position-relative border-0 overflow-hidden shadow">
                <div class="blog-image position-relative overflow-hidden">
                    <img src="~/Content/Public/images/magazine/h1.jpg" class="img-fluid" alt="">
                    <div class="bg-overlay opacity-8"></div>

                    @*<div class="position-absolute top-0 start-0">
                            <div class="play-icon m-3">
                                <a href="#!" data-type="youtube" data-id="yba7hPeTSjk" class="lightbox">
                                    <i class="ti ti-player-play text-primary rounded-circle h4 bg-white shadow"></i>
                                </a>
                            </div>
                        </div>*@
                </div>

                <div class="card-body content position-absolute bottom-0 start-0 end-0">
                    <span class="badge bg rounded-pill">کسب و کار</span>
                    <a href="magazine-news-detail.html" class="text-white h5 d-block mt-3 title mb-0">
                        5 سوال
                        مصاحبه شما همیشه باید برای پاسخ دادن آماده باشید
                    </a>
                </div>
            </div>
        </div>
        <!--end col-->

        <div class="col-lg-6 picture-item">
            <div class="row g-3">
                <div class="col-md-6 picture-item">
                    <div class="blog blog-primary position-relative border-0 overflow-hidden shadow">
                        <div class="blog-image position-relative overflow-hidden">
                            <img src="~/Content/Public/images/magazine/h2.jpg" class="img-fluid" alt="">
                            <div class="bg-overlay opacity-8"></div>

                            <div class="position-absolute top-0 start-0">
                                <span class="badge bg rounded-pill m-3">تکلونوژی</span>
                            </div>
                        </div>

                        <div class="card-body content position-absolute bottom-0 start-0 end-0">
                            <a href="magazine-news-detail.html" class="text-white h5 title mb-0">
                                اگر از اولین
                                بار سفر خود عصبی هستید ، این را بخوانید
                            </a>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-md-6 picture-item">
                    <div class="blog blog-primary position-relative border-0 overflow-hidden shadow">
                        <div class="blog-image position-relative overflow-hidden">
                            <img src="~/Content/Public/images/magazine/h3.jpg" class="img-fluid" alt="">
                            <div class="bg-overlay opacity-8"></div>

                            <div class="position-absolute top-0 start-0">
                                <span class="badge bg rounded-pill m-3">ورزش</span>
                            </div>
                        </div>

                        <div class="card-body content position-absolute bottom-0 start-0 end-0">
                            <a href="magazine-news-detail.html" class="text-white h5 title mb-0">
                                نکات تناسب
                                اندام |تمرین قلبی برای یک قلب سالم
                            </a>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-md-6 picture-item">
                    <div class="blog blog-primary position-relative border-0 overflow-hidden shadow">
                        <div class="blog-image position-relative overflow-hidden">
                            <img src="~/Content/Public/images/magazine/h4.jpg" class="img-fluid" alt="">
                            <div class="bg-overlay opacity-8"></div>

                            <div class="position-absolute top-0 start-0">
                                <span class="badge bg rounded-pill m-3">فشن</span>
                            </div>
                        </div>

                        <div class="card-body content position-absolute bottom-0 start-0 end-0">
                            <a href="magazine-news-detail.html" class="text-white h5 title mb-0">
                                رئیس طراحی IKEA
                                در "نمونه گیری" در مقابل سرقت در مد
                            </a>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-md-6 picture-item">
                    <div class="blog blog-primary position-relative border-0 overflow-hidden shadow">
                        <div class="blog-image position-relative overflow-hidden">
                            <img src="~/Content/Public/images/magazine/h5.jpg" class="img-fluid" alt="">
                            <div class="bg-overlay opacity-8"></div>

                            <div class="position-absolute top-0 start-0">
                                <span class="badge bg rounded-pill m-3">تحصیلات</span>
                            </div>
                        </div>

                        <div class="card-body content position-absolute bottom-0 start-0 end-0">
                            <a href="magazine-news-detail.html" class="text-white h5 title mb-0">
                                کشاورزان شهری
                                که با جنگل بتونی بنگلور می جنگند
                            </a>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end col-->
    </div>
    <!--end row-->
</div>